[access]
	inheritFrom = All-Projects
[project]
	description = Controller Core Functionality Tutorials
[receive]
	requireChangeId = true
[access "refs/*"]
	owner = group ldap/odl-gerrit-coretutorials-committers
	owner = group saml/odl-gerrit-coretutorials-committers
	read = group GitHub Replication
[submit]
	action = rebase if necessary
[allowSuperproject "releng/autorelease"]
	matching = refs/heads/stable/lithium:refs/heads/stable/lithium
